alembic==1.7.7
numpy==1.22.3
cartopy==0.20.2
certifi==2021.10.8
chardet==4.0.0
click==8.0.4
cloudpickle==2.0.0
cycler==0.11.0
dask==2022.3.0
decorator==5.1.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
fsspec==2022.2.0
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.1
locket==0.2.1
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.1
networkx==2.7.1
pandas==1.4.1
pangres==4.1.1
partd==1.2.0
Pillow==9.0.1
psycopg2-binary==2.9.3
pyhafas==0.3.0
pyparsing==3.0.7
pyproj==3.3.0
pyshp==2.2.0
python-dateutil==2.8.2
python-editor==1.0.4
python-igraph==0.9.9
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
Shapely==1.8.0
six==1.16.0
SQLAlchemy==1.4.32
texttable==1.6.4
threadpoolctl==3.1.0
toolz==0.11.2
tqdm==4.63.1
urllib3==1.26.9
Werkzeug==2.0.3
xgboost==1.5.2
Flask-Limiter==2.2.0
limits==2.4.0
